<h2>Let me do the picking, you do the spending $$$$</h2>

<div class="button" style="display: inline-block">
    <a href="{% url 'lister:meals' %}"><button style="display: inline-block" >All meals</button></a>
    <a href="{% url 'lister:add_meal' %}"><button style="display: inline-block" >Add meal</button></a>
    <a href="{% url 'lister:random_list'%}"><button style="display: inline-block">Random</button></a>
</div>

<div>
    <img src="https://media.giphy.com/media/UsTNoiGR7OBsDcUvuG/giphy.gif">
</div>